root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.sh,*.yaml,melchoir/bin/**}]
max_line_length = 100

[{*.sh}]
binary_next_line = false   # like -bn
switch_case_indent = false # like -ci
space_redirects = false    # like -sr
keep_padding = false       # like -kp
