root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.sh,*.yaml}]
max_line_length = 100

[{scripts/bash/agnoster_bash.sh,scripts/bash/configure_user_utils.sh,config/default.pa,config/gpg.conf,config/httpd.conf,config/pacman.conf,config/vs-code/Settings.json,data/*,License.txt}]
ignore = true
